NodeRed/BSBFlows.json
[
    {
        "id": "6e9efb6131d41da6",
        "type": "tab",
        "label": "HotSide",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2368879745bedfe8",
        "type": "tab",
        "label": "Cold Side",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "174d33dd188055cb",
        "type": "tab",
        "label": "Interfaces",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f63735ef39c7ebd8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "8883",
        "tls": "5512bccb83d223a1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f37381189b3a454a",
        "type": "ui_tab",
        "name": "Hot Side",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b1c946516bb8ab5",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9e79c639e62b8fe9",
        "type": "ui_group",
        "name": "Batch",
        "tab": "f37381189b3a454a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22dc0261fe04a4ea",
        "type": "ui_tab",
        "name": "Cold Side",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f6f4b5041b80b6fd",
        "type": "ui_group",
        "name": "Unitank 1",
        "tab": "22dc0261fe04a4ea",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ec6c6d21c68fabf",
        "type": "ui_group",
        "name": "Unitank 2",
        "tab": "22dc0261fe04a4ea",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "492616411f892678",
        "type": "ui_group",
        "name": "Hardware",
        "tab": "f37381189b3a454a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ffe5645a2c14aaa",
        "type": "ui_group",
        "name": "Mash Schedule",
        "tab": "f37381189b3a454a",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0de2545b3a50e50",
        "type": "ui_group",
        "name": "HLT",
        "tab": "f37381189b3a454a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "045b99aa08e9a93b",
        "type": "ui_group",
        "name": "Mash Tun",
        "tab": "f37381189b3a454a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85ec42cd73660eb6",
        "type": "ui_group",
        "name": "Kettle",
        "tab": "f37381189b3a454a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b2583b63cb628d1",
        "type": "brewfather-config",
        "name": "Brewfather REST"
    },
    {
        "id": "5512bccb83d223a1",
        "type": "tls-config",
        "name": "",
        "cert": "/home/bsb/client.crt",
        "key": "/home/bsb/client.key",
        "ca": "/home/bsb/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "07536b665f984120",
        "type": "ui_tab",
        "name": "Interfaces",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bcb3e320136b061c",
        "type": "ui_group",
        "name": "Interfaces",
        "tab": "07536b665f984120",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1636504e30239d85",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "Mash-pH",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 1260,
        "wires": [
            [
                "c46823b579f45a8c",
                "cb496618431c5ab7"
            ]
        ]
    },
    {
        "id": "cb496618431c5ab7",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "045b99aa08e9a93b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mash pH:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1340,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f7ad94f47bb7589f",
        "type": "ui_gauge",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "b0de2545b3a50e50",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "50",
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 250,
        "y": 620,
        "wires": []
    },
    {
        "id": "dcb2068aeead6f4e",
        "type": "ui_gauge",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "50",
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 250,
        "y": 420,
        "wires": []
    },
    {
        "id": "0cea1ce79595b69d",
        "type": "ui_gauge",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "85ec42cd73660eb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "50",
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 250,
        "y": 520,
        "wires": []
    },
    {
        "id": "de5158494bf290e8",
        "type": "brewfather-api-request",
        "z": "6e9efb6131d41da6",
        "name": "Batch List",
        "property": "payload",
        "propertyType": "msg",
        "endpoint": "getbatches",
        "include": [
            "recipe.name"
        ],
        "complete": false,
        "inventorynegative": false,
        "inventoryexist": false,
        "inventoryadjust": "",
        "inventory": "",
        "status": "Brewing",
        "offset": 0,
        "limit": 10,
        "brewfatherConfig": "3b2583b63cb628d1",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "585efb1cfe4118cb",
                "515375e2bd761f43"
            ]
        ]
    },
    {
        "id": "585efb1cfe4118cb",
        "type": "debug",
        "z": "6e9efb6131d41da6",
        "name": "Print Batch List",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d2a1983f92cb2d3",
        "type": "ui_dropdown",
        "z": "6e9efb6131d41da6",
        "name": "",
        "label": "Recipe",
        "tooltip": "Select Brewfather recipe (must be 'brewing' status)",
        "place": "Select option",
        "group": "9e79c639e62b8fe9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "91ad8a3379bb5459"
            ]
        ]
    },
    {
        "id": "515375e2bd761f43",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "To Array",
        "func": "var names = []\nfor( let batch of msg.payload ) {\n    let pair = {};\n    pair[batch.recipe.name] = batch._id;\n    names.push( pair );\n}\n\nmsg.options = names;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "6d2a1983f92cb2d3"
            ]
        ]
    },
    {
        "id": "0c5cc4e9ec7c641b",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 100,
        "wires": []
    },
    {
        "id": "aa69d2ee7ee52a48",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "1fd389d5d6929045",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0614cb5a961f189",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "8fb51eadf4dd2c17",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 340,
        "wires": []
    },
    {
        "id": "55153df08b22d0d7",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 400,
        "wires": []
    },
    {
        "id": "91ad8a3379bb5459",
        "type": "brewfather-api-request",
        "z": "6e9efb6131d41da6",
        "name": "Get Batch",
        "property": "payload",
        "propertyType": "msg",
        "endpoint": "getbatch",
        "include": [
            "recipe.mash",
            "recipe.equipment",
            "recipe.data"
        ],
        "complete": false,
        "inventorynegative": false,
        "inventoryexist": false,
        "inventoryadjust": "",
        "inventory": "",
        "status": "Brewing",
        "offset": 0,
        "limit": 10,
        "brewfatherConfig": "3b2583b63cb628d1",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "a503e37726e94507",
                "88477e34a98a40af"
            ]
        ]
    },
    {
        "id": "e2f4593ff28326dc",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 660,
        "wires": [
            [
                "f83d3188c399cd40",
                "f7ad94f47bb7589f",
                "7e40dccf82c74168"
            ]
        ]
    },
    {
        "id": "b5487aef1b66808b",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Mash-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "c027e73d557e39ca",
                "dcb2068aeead6f4e"
            ]
        ]
    },
    {
        "id": "8a023626a075cebb",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Kettle-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "f53df7db3dbe6548",
                "0cea1ce79595b69d"
            ]
        ]
    },
    {
        "id": "f83d3188c399cd40",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HLTTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c027e73d557e39ca",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MashTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f53df7db3dbe6548",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "KettleTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c46823b579f45a8c",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MashpH",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "a503e37726e94507",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Batch Variables",
        "rules": [
            {
                "t": "set",
                "p": "strikeTemp",
                "pt": "global",
                "to": "$round(payload.recipe.data.strikeTemp * (9 / 5) + 32, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "strikeVolume",
                "pt": "global",
                "to": "$round(payload.recipe.data.mashWaterAmount *  0.264172, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "boilVolume",
                "pt": "global",
                "to": "$round(payload.recipe.equipment.boilSize * 0.264172, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "boilTime",
                "pt": "global",
                "to": "payload.recipe.equipment.boilTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mashSteps",
                "pt": "global",
                "to": "payload.recipe.mash.steps",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.strikeVolume",
                "pt": "msg",
                "to": "$round(payload.recipe.data.mashWaterAmount *  0.264172, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.spargeVolume",
                "pt": "msg",
                "to": "$round(payload.recipe.equipment.boilSize * 0.264172, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 240,
        "wires": [
            [
                "13c0f1d8fa0c1382",
                "3393da77bf69d8c0",
                "f5d54dd2d4c2408e"
            ]
        ]
    },
    {
        "id": "88477e34a98a40af",
        "type": "debug",
        "z": "6e9efb6131d41da6",
        "name": "Print Batch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f1719bb29534bfb",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "9e79c639e62b8fe9",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "de5158494bf290e8"
            ]
        ]
    },
    {
        "id": "13c0f1d8fa0c1382",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Init Steps",
        "func": "function MinutesToTime(e) {\n    e *= 60;\n    const h = Math.floor(e / 3600).toString().padStart(2, '0'),\n        m = Math.floor(e % 3600 / 60).toString().padStart(2, '0'),\n        s = Math.floor(e % 60).toString().padStart(2, '0');\n\n    return h + ':' + m + ':' + s;\n    //return `${h}:${m}:${s}`;\n}\n\nvar messages = [];\nvar mashSteps = global.get(\"mashSteps\");\n\nfor (let i = 0; i < node.outputCount; i++ ) {\n    if( i < mashSteps.length ) {\n        messages.push({ \n            payload: MinutesToTime(mashSteps[i].stepTime),\n            label: mashSteps[i].displayStepTemp + '\\u00B0' + 'F'  \n        });\n    }\n    else {\n        messages.push({\n            payload: '00:00:00',\n            label: 'Undefined'\n        });    \n    }\n}\n\nreturn messages;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "0c5cc4e9ec7c641b"
            ],
            [
                "aa69d2ee7ee52a48"
            ],
            [
                "1fd389d5d6929045"
            ],
            [
                "a0614cb5a961f189"
            ],
            [
                "8fb51eadf4dd2c17"
            ],
            [
                "55153df08b22d0d7"
            ]
        ]
    },
    {
        "id": "b955e2ece0b1dac6",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "045b99aa08e9a93b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flow Rate (gpm)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 640,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c48550959c04a479",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "b0de2545b3a50e50",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Transfer Volume (g)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3393da77bf69d8c0",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "b0de2545b3a50e50",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target Volume",
        "format": "{{payload.strikeVolume}}",
        "layout": "row-spread",
        "className": "",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "f5d54dd2d4c2408e",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "85ec42cd73660eb6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target Volume",
        "format": "{{msg.payload.spargeVolume}}",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "f851126f3f2e942a",
        "type": "ui_text_input",
        "z": "6e9efb6131d41da6",
        "name": "",
        "label": "Element Power %",
        "tooltip": "",
        "group": "b0de2545b3a50e50",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 690,
        "y": 880,
        "wires": [
            [
                "3b3232673c592eba"
            ]
        ]
    },
    {
        "id": "92ecdb793f734ec0",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "b0de2545b3a50e50",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Heat to Strike",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "strikeTemp",
        "payloadType": "global",
        "topic": "threshold",
        "topicType": "str",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "06ed064e68b14079",
                "b479ed361930833d",
                "02eb9be251fa3f6a"
            ]
        ]
    },
    {
        "id": "7e40dccf82c74168",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "current",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "b479ed361930833d"
            ]
        ]
    },
    {
        "id": "cef617648b7c4022",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "b0de2545b3a50e50",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hysteresis Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "threshold",
        "topicType": "str",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "b479ed361930833d",
                "06ed064e68b14079",
                "a7fb54d5a9d49acf"
            ]
        ]
    },
    {
        "id": "b479ed361930833d",
        "type": "hysteresis",
        "z": "6e9efb6131d41da6",
        "name": "HLT Hysteresis",
        "ThresholdType": "dynamic",
        "ThresholdRising": "0",
        "ThresholdFalling": "0",
        "TopicThreshold": "threshold",
        "TopicCurrent": "current",
        "ThresholdDeltaRising": "1",
        "ThresholdDeltaFalling": "1",
        "InitialMessage": true,
        "OutRisingType": "num",
        "OutRisingValue": "0",
        "OutFallingType": "num",
        "OutFallingValue": "100",
        "OutTopicType": "top",
        "OutTopicValue": "",
        "DynRaiseError": false,
        "x": 680,
        "y": 760,
        "wires": [
            [
                "f851126f3f2e942a"
            ]
        ]
    },
    {
        "id": "06ed064e68b14079",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "b0de2545b3a50e50",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 150,
        "y": 820,
        "wires": []
    },
    {
        "id": "02eb9be251fa3f6a",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 780,
        "wires": [
            [
                "f851126f3f2e942a"
            ]
        ]
    },
    {
        "id": "a7fb54d5a9d49acf",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 880,
        "wires": [
            [
                "f851126f3f2e942a"
            ]
        ]
    },
    {
        "id": "941e65461015a86f",
        "type": "timeprop",
        "z": "6e9efb6131d41da6",
        "name": "Duty Cycle",
        "cycleTime": "10",
        "deadTime": 0,
        "triggerPeriod": "0.1",
        "invert": false,
        "x": 1130,
        "y": 880,
        "wires": [
            [
                "3d24d218767a8381"
            ]
        ]
    },
    {
        "id": "3b3232673c592eba",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload) / 100.0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 880,
        "wires": [
            [
                "941e65461015a86f"
            ]
        ]
    },
    {
        "id": "8adb070768ce6259",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Element",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1470,
        "y": 880,
        "wires": []
    },
    {
        "id": "0abf0faf2139fc82",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mash In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "reset",
        "topicType": "str",
        "x": 80,
        "y": 1240,
        "wires": [
            [
                "235c7b06ea0d8e56",
                "7c51de39f212c666"
            ]
        ]
    },
    {
        "id": "0ecf78ce09ef1bd4",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Flow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1100,
        "wires": [
            [
                "7c51de39f212c666"
            ]
        ]
    },
    {
        "id": "a697e01bbc5e19ee",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 800,
        "y": 1240,
        "wires": []
    },
    {
        "id": "235c7b06ea0d8e56",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "127",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1240,
        "wires": [
            [
                "a697e01bbc5e19ee"
            ]
        ]
    },
    {
        "id": "3d24d218767a8381",
        "type": "rbe",
        "z": "6e9efb6131d41da6",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1290,
        "y": 880,
        "wires": [
            [
                "8adb070768ce6259"
            ]
        ]
    },
    {
        "id": "7c51de39f212c666",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Counter",
        "func": "var count = 0;\nvar duration = 0;\n\nif( msg.topic == \"reset\" ) {\n    context.set(\"count\", 0);\n    context.set(\"duration\", Date.now());\n}\nelse {\n    count = context.get(\"count\");\n    context.set(\"count\", ++count);\n    duration = Date.now() - context.get(\"duration\");\n    context.set(\"duration\", duration);\n\n}\n\nmsg.payload = count;\nmsg.duration = duration / 1000.0; // Seconds\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"count\", 0);\ncontext.set(\"duration\", Date.now());",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "2873a43ddd07fe8d",
                "4967159d531d06f0"
            ]
        ]
    },
    {
        "id": "2873a43ddd07fe8d",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Total",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload * 0.00021",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "c48550959c04a479",
                "3600294880b2354a"
            ]
        ]
    },
    {
        "id": "4967159d531d06f0",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Rate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload * 0.0126 / duration",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1140,
        "wires": [
            [
                "b955e2ece0b1dac6"
            ]
        ]
    },
    {
        "id": "3600294880b2354a",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Pump Off",
        "func": "let strikeVolume = global.get(\"strikeVolume\");\nlet mashingIn = context.get(\"mashingIn\");\n\nif (mashingIn && msg.payload >= strikeVolume ) {\n    msg.payload = 0;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"mashingIn\", false);",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1220,
        "wires": [
            [
                "a697e01bbc5e19ee"
            ]
        ]
    },
    {
        "id": "fa49307ad4bae008",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Kettle-Flow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1360,
        "wires": [
            [
                "bd7792bcd174dff3",
                "7a9849183a924860"
            ]
        ]
    },
    {
        "id": "a5c018a8b0a8f29c",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "85ec42cd73660eb6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flow Rate (gpm)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 640,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d19d92bb1e7110a6",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "85ec42cd73660eb6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Transfer Volume (g)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bd7792bcd174dff3",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Counter",
        "func": "var count = 0;\nvar duration = 0;\n\nif( msg.topic == \"reset\" ) {\n    context.set(\"count\", 0);\n    context.set(\"duration\", Date.now());\n}\nelse {\n    count = context.get(\"count\");\n    context.set(\"count\", ++count);\n    duration = Date.now() - context.get(\"duration\");\n    context.set(\"duration\", duration);\n\n}\n\nmsg.payload = count;\nmsg.duration = duration / 1000.0; // Seconds\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"count\", 0);\ncontext.set(\"duration\", Date.now());",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1360,
        "wires": [
            [
                "2d02673677425f21",
                "fe9ae982f6d96733"
            ]
        ]
    },
    {
        "id": "2d02673677425f21",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Total",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload / 100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1360,
        "wires": [
            [
                "d19d92bb1e7110a6"
            ]
        ]
    },
    {
        "id": "fe9ae982f6d96733",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Rate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload * 60 / 100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1400,
        "wires": [
            [
                "a5c018a8b0a8f29c"
            ]
        ]
    },
    {
        "id": "bb0bee36e59e433b",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Sparge-Pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1230,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f2e72e5c86abb265",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Whirlpool-Pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1240,
        "y": 1420,
        "wires": []
    },
    {
        "id": "4ecafa0b8769f8f9",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Kettle-Element",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1240,
        "y": 1480,
        "wires": []
    },
    {
        "id": "7a9849183a924860",
        "type": "debug",
        "z": "6e9efb6131d41da6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 1500,
        "wires": []
    },
    {
        "id": "876ceb85886b53df",
        "type": "inject",
        "z": "6e9efb6131d41da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 820,
        "y": 1540,
        "wires": [
            [
                "26c81421ef27d88c"
            ]
        ]
    },
    {
        "id": "26c81421ef27d88c",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "128",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1420,
        "wires": [
            [
                "bb0bee36e59e433b"
            ]
        ]
    },
    {
        "id": "477a6942d4870529",
        "type": "mqtt in",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Register",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "2135046b301ea555"
            ]
        ]
    },
    {
        "id": "2135046b301ea555",
        "type": "switch",
        "z": "174d33dd188055cb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Hot Side",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cold Side",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pH Meter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DO2 Meter",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "100f531fcd8841be",
                "bd1111ed5c06b60d"
            ],
            [
                "e4318d557af535a3",
                "8044d6f98d0951dc"
            ],
            [
                "a5e68e194ffec01b",
                "e131c985a4e3c249"
            ],
            [
                "0c884909cb08aaf1",
                "95cf6c5166e12cc7"
            ]
        ]
    },
    {
        "id": "a17506d480133cda",
        "type": "mqtt out",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Configure",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "100f531fcd8841be",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "Hot Side",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"Topic\":\"BSB/HLT-Pump\",\"GPIO\":4,\"Type\":\"PWM\"},{\"Topic\":\"BSB/Sparge-Pump\",\"GPIO\":2,\"Type\":\"PWM\"},{\"Topic\":\"BSB/Whirlpool-Pump\",\"GPIO\":12,\"Type\":\"PWM\"},{\"Topic\":\"BSB/HLT-Element\",\"GPIO\":26,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Kettle-Element\",\"GPIO\":25,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/HLT-Flow\",\"GPIO\":13,\"Type\":\"Digital-In\"},{\"Topic\":\"BSB/Kettle-Flow\",\"GPIO\":14,\"Type\":\"Digital-In\"},{\"Topic\":\"BSB/HLT-Temp\",\"Index\":0,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Mash-Temp\",\"Index\":1,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Kettle-Temp\",\"Index\":2,\"Type\":\"Onewire\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "e4318d557af535a3",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "Cold Side",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"Topic\":\"BSB/Unitank-1-Temp\",\"Index\":1,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Unitank-2-Temp\",\"Index\":0,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Unitank-1-Heat\",\"GPIO\":27,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Unitank-2-Heat\",\"GPIO\":15,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Unitank-1-Cool\",\"GPIO\":25,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Unitank-2-Cool\",\"GPIO\":14,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Blue-Tilt\",\"Index\":5,\"Type\":\"Tilt\"},{\"Topic\":\"BSB/Purple-Tilt\",\"Index\":3,\"Type\":\"Tilt\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "a5e68e194ffec01b",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "pH Meter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "0c884909cb08aaf1",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "DO2 Meter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "c2d2e4d4091598bd",
        "type": "mqtt in",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Online",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "6dd69b7a2d2bdbc7"
            ]
        ]
    },
    {
        "id": "c26a9ba3613731ac",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "bd1111ed5c06b60d",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 420,
        "wires": [
            [
                "c26a9ba3613731ac"
            ],
            []
        ]
    },
    {
        "id": "6dd69b7a2d2bdbc7",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "2135046b301ea555"
            ]
        ]
    },
    {
        "id": "8044d6f98d0951dc",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 480,
        "wires": [
            [
                "8cefda9dfdf40680"
            ],
            []
        ]
    },
    {
        "id": "e131c985a4e3c249",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "c491b097efab1b3d"
            ],
            []
        ]
    },
    {
        "id": "95cf6c5166e12cc7",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 600,
        "wires": [
            [
                "fbfd5e08c7557ded"
            ],
            []
        ]
    },
    {
        "id": "8cefda9dfdf40680",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "c491b097efab1b3d",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "fbfd5e08c7557ded",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "d4665205c128173f",
        "type": "mqtt in",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Console",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "17a42320e2231f9d"
            ]
        ]
    },
    {
        "id": "17a42320e2231f9d",
        "type": "debug",
        "z": "174d33dd188055cb",
        "name": "BSB Console",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 120,
        "wires": []
    }
]