NodeRed/BSBFlows.json
[
    {
        "id": "6e9efb6131d41da6",
        "type": "tab",
        "label": "HotSide",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2368879745bedfe8",
        "type": "tab",
        "label": "Cold Side",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "174d33dd188055cb",
        "type": "tab",
        "label": "Interfaces",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f63735ef39c7ebd8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "8883",
        "tls": "5512bccb83d223a1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f37381189b3a454a",
        "type": "ui_tab",
        "name": "Hot Side",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b1c946516bb8ab5",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Blue Screen Brewery",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9e79c639e62b8fe9",
        "type": "ui_group",
        "name": "Batch",
        "tab": "f37381189b3a454a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22dc0261fe04a4ea",
        "type": "ui_tab",
        "name": "Cold Side",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f6f4b5041b80b6fd",
        "type": "ui_group",
        "name": "Unitank 1",
        "tab": "22dc0261fe04a4ea",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ec6c6d21c68fabf",
        "type": "ui_group",
        "name": "Unitank 2",
        "tab": "22dc0261fe04a4ea",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "492616411f892678",
        "type": "ui_group",
        "name": "Hardware",
        "tab": "f37381189b3a454a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ffe5645a2c14aaa",
        "type": "ui_group",
        "name": "Mash Schedule",
        "tab": "f37381189b3a454a",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0de2545b3a50e50",
        "type": "ui_group",
        "name": "HLT",
        "tab": "f37381189b3a454a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "045b99aa08e9a93b",
        "type": "ui_group",
        "name": "Mash Tun",
        "tab": "f37381189b3a454a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85ec42cd73660eb6",
        "type": "ui_group",
        "name": "Kettle",
        "tab": "f37381189b3a454a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b2583b63cb628d1",
        "type": "brewfather-config",
        "name": "Brewfather REST"
    },
    {
        "id": "5512bccb83d223a1",
        "type": "tls-config",
        "name": "",
        "cert": "/home/bsb/client.crt",
        "key": "/home/bsb/client.key",
        "ca": "/home/bsb/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "07536b665f984120",
        "type": "ui_tab",
        "name": "Interfaces",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bcb3e320136b061c",
        "type": "ui_group",
        "name": "Interfaces",
        "tab": "07536b665f984120",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aabfd8d95f5321e0",
        "type": "ui_group",
        "name": "Pump Control",
        "tab": "f37381189b3a454a",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb496618431c5ab7",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "045b99aa08e9a93b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mash pH:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1580,
        "y": 1620,
        "wires": []
    },
    {
        "id": "dcb2068aeead6f4e",
        "type": "ui_gauge",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "50",
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 250,
        "y": 480,
        "wires": []
    },
    {
        "id": "0cea1ce79595b69d",
        "type": "ui_gauge",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "85ec42cd73660eb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "50",
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b5487aef1b66808b",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Mash-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "dcb2068aeead6f4e",
                "c027e73d557e39ca"
            ]
        ]
    },
    {
        "id": "8a023626a075cebb",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Kettle-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "0cea1ce79595b69d",
                "652ec4711656b4b8"
            ]
        ]
    },
    {
        "id": "fa49307ad4bae008",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Kettle-Flow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1720,
        "wires": [
            [
                "e97a67ea862f0281",
                "fe9ae982f6d96733"
            ]
        ]
    },
    {
        "id": "a5c018a8b0a8f29c",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "85ec42cd73660eb6",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flow Rate (gpm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d19d92bb1e7110a6",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "85ec42cd73660eb6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Transfer Volume (g)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 1680,
        "wires": []
    },
    {
        "id": "2d02673677425f21",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Total",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round( payload / 100, 2 )",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "SpargeVol",
                "pt": "flow",
                "to": "$round( payload / 100, 2 )",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1680,
        "wires": [
            [
                "d19d92bb1e7110a6"
            ]
        ]
    },
    {
        "id": "fe9ae982f6d96733",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Rate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round( payload * 60 / 100, 2 )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1720,
        "wires": [
            [
                "a5c018a8b0a8f29c"
            ]
        ]
    },
    {
        "id": "bb0bee36e59e433b",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Sparge-Pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 970,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f2e72e5c86abb265",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Whirlpool-Pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 980,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4ecafa0b8769f8f9",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Kettle-Element",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1640,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e97a67ea862f0281",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Totalizer",
        "func": "if( msg.topic == \"reset\" ) {\n    context.set(\"Totalizer\", 0);\n}\nelse {\n    var oldTotal = context.get(\"Totalizer\");\n    var total = oldTotal + msg.payload;\n    context.set(\"Totalizer\", total);\n}\n\nmsg.payload = total;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Totalizer\", 0);",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1680,
        "wires": [
            [
                "2d02673677425f21"
            ]
        ]
    },
    {
        "id": "53b2be141e950d79",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Cal 7.0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Cal,mid,7.00",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1180,
        "y": 1520,
        "wires": [
            [
                "34b320719d21bae9"
            ]
        ]
    },
    {
        "id": "34b320719d21bae9",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Command-pH",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1410,
        "y": 1560,
        "wires": []
    },
    {
        "id": "2004cf3dae6e0b5f",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Mash-pH",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1390,
        "y": 1620,
        "wires": [
            [
                "cb496618431c5ab7"
            ]
        ]
    },
    {
        "id": "cbf0565542fbbdb7",
        "type": "inject",
        "z": "6e9efb6131d41da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MashTemp",
        "payloadType": "global",
        "x": 1210,
        "y": 1480,
        "wires": [
            [
                "4dc70577bec494a7"
            ]
        ]
    },
    {
        "id": "599da43739f761b9",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Command-pH",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1590,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4dc70577bec494a7",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "F to C",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"T,\") & $round((payload - 32) * 0.5556, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1480,
        "wires": [
            [
                "599da43739f761b9"
            ]
        ]
    },
    {
        "id": "5a0c232379cccc1d",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Cal 4.0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Cal,low,4.00",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1180,
        "y": 1560,
        "wires": [
            [
                "34b320719d21bae9"
            ]
        ]
    },
    {
        "id": "7e24e77949fd4435",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Cal 10.0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Cal,high,10.00",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1180,
        "y": 1600,
        "wires": [
            [
                "34b320719d21bae9"
            ]
        ]
    },
    {
        "id": "de5158494bf290e8",
        "type": "brewfather-api-request",
        "z": "6e9efb6131d41da6",
        "name": "Batch List",
        "property": "payload",
        "propertyType": "msg",
        "endpoint": "getbatches",
        "include": [
            "recipe.name"
        ],
        "complete": false,
        "inventorynegative": false,
        "inventoryexist": false,
        "inventoryadjust": "",
        "inventory": "",
        "status": "Brewing",
        "offset": 0,
        "limit": 10,
        "brewfatherConfig": "3b2583b63cb628d1",
        "x": 420,
        "y": 900,
        "wires": [
            [
                "585efb1cfe4118cb",
                "515375e2bd761f43"
            ]
        ]
    },
    {
        "id": "585efb1cfe4118cb",
        "type": "debug",
        "z": "6e9efb6131d41da6",
        "name": "Print Batch List",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 940,
        "wires": []
    },
    {
        "id": "6d2a1983f92cb2d3",
        "type": "ui_dropdown",
        "z": "6e9efb6131d41da6",
        "name": "",
        "label": "Recipe",
        "tooltip": "Select Brewfather recipe (must be 'brewing' status)",
        "place": "Select option",
        "group": "9e79c639e62b8fe9",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 740,
        "y": 900,
        "wires": [
            [
                "91ad8a3379bb5459"
            ]
        ]
    },
    {
        "id": "515375e2bd761f43",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "To Array",
        "func": "var names = []\nfor( let batch of msg.payload ) {\n    let pair = {};\n    pair[batch.recipe.name] = batch._id;\n    names.push( pair );\n}\n\nmsg.options = names;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 900,
        "wires": [
            [
                "6d2a1983f92cb2d3"
            ]
        ]
    },
    {
        "id": "0c5cc4e9ec7c641b",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1670,
        "y": 680,
        "wires": []
    },
    {
        "id": "aa69d2ee7ee52a48",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1670,
        "y": 740,
        "wires": []
    },
    {
        "id": "1fd389d5d6929045",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1670,
        "y": 800,
        "wires": []
    },
    {
        "id": "a0614cb5a961f189",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1670,
        "y": 860,
        "wires": []
    },
    {
        "id": "8fb51eadf4dd2c17",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1670,
        "y": 920,
        "wires": []
    },
    {
        "id": "55153df08b22d0d7",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "9e79c639e62b8fe9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Mash Step",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1670,
        "y": 980,
        "wires": []
    },
    {
        "id": "91ad8a3379bb5459",
        "type": "brewfather-api-request",
        "z": "6e9efb6131d41da6",
        "name": "Get Batch",
        "property": "payload",
        "propertyType": "msg",
        "endpoint": "getbatch",
        "include": [
            "recipe.mash",
            "recipe.equipment",
            "recipe.data"
        ],
        "complete": false,
        "inventorynegative": false,
        "inventoryexist": false,
        "inventoryadjust": "",
        "inventory": "",
        "status": "Brewing",
        "offset": 0,
        "limit": 10,
        "brewfatherConfig": "3b2583b63cb628d1",
        "x": 900,
        "y": 900,
        "wires": [
            [
                "a503e37726e94507",
                "88477e34a98a40af",
                "82da208ec6aa6864"
            ]
        ]
    },
    {
        "id": "a503e37726e94507",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Batch Variables",
        "rules": [
            {
                "t": "set",
                "p": "strikeTemp",
                "pt": "global",
                "to": "$round(payload.recipe.data.strikeTemp * (9 / 5) + 32, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "strikeVolume",
                "pt": "global",
                "to": "$round(payload.recipe.data.mashWaterAmount *  0.264172, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "boilVolume",
                "pt": "global",
                "to": "$round(payload.recipe.equipment.boilSize * 0.264172, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "boilTime",
                "pt": "global",
                "to": "payload.recipe.equipment.boilTime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mashSteps",
                "pt": "global",
                "to": "payload.recipe.mash.steps",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.strikeVolume",
                "pt": "msg",
                "to": "$round(payload.recipe.data.mashWaterAmount *  0.264172, 2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.spargeVolume",
                "pt": "msg",
                "to": "$round(payload.recipe.equipment.boilSize * 0.264172, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 800,
        "wires": [
            [
                "13c0f1d8fa0c1382",
                "3393da77bf69d8c0",
                "f5d54dd2d4c2408e"
            ]
        ]
    },
    {
        "id": "88477e34a98a40af",
        "type": "debug",
        "z": "6e9efb6131d41da6",
        "name": "Print Batch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 760,
        "wires": []
    },
    {
        "id": "5f1719bb29534bfb",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "9e79c639e62b8fe9",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 900,
        "wires": [
            [
                "de5158494bf290e8"
            ]
        ]
    },
    {
        "id": "13c0f1d8fa0c1382",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Init Steps",
        "func": "function MinutesToTime(e) {\n    e *= 60;\n    const h = Math.floor(e / 3600).toString().padStart(2, '0'),\n        m = Math.floor(e % 3600 / 60).toString().padStart(2, '0'),\n        s = Math.floor(e % 60).toString().padStart(2, '0');\n\n    return h + ':' + m + ':' + s;\n    //return `${h}:${m}:${s}`;\n}\n\nvar messages = [];\nvar mashSteps = global.get(\"mashSteps\");\n\nfor (let i = 0; i < node.outputCount; i++ ) {\n    if( i < mashSteps.length ) {\n        messages.push({ \n            payload: MinutesToTime(mashSteps[i].stepTime),\n            label: mashSteps[i].displayStepTemp + '\\u00B0' + 'F'  \n        });\n    }\n    else {\n        messages.push({\n            payload: '00:00:00',\n            label: 'Undefined'\n        });    \n    }\n}\n\nreturn messages;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 800,
        "wires": [
            [
                "0c5cc4e9ec7c641b"
            ],
            [
                "aa69d2ee7ee52a48"
            ],
            [
                "1fd389d5d6929045"
            ],
            [
                "a0614cb5a961f189"
            ],
            [
                "8fb51eadf4dd2c17"
            ],
            [
                "55153df08b22d0d7"
            ]
        ]
    },
    {
        "id": "3393da77bf69d8c0",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "045b99aa08e9a93b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target Volume",
        "format": "{{payload.strikeVolume}}",
        "layout": "row-spread",
        "className": "",
        "x": 1400,
        "y": 680,
        "wires": []
    },
    {
        "id": "f5d54dd2d4c2408e",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "85ec42cd73660eb6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target Volume",
        "format": "{{msg.payload.spargeVolume}}",
        "layout": "row-spread",
        "className": "",
        "x": 1400,
        "y": 720,
        "wires": []
    },
    {
        "id": "60680b1feccec91d",
        "type": "countdown",
        "z": "6e9efb6131d41da6",
        "name": "Rest Clock",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": 30,
        "resetWhileRunning": true,
        "outputOnReset": false,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 990,
        "y": 420,
        "wires": [
            [
                "0fcd2cc5beac11cd",
                "759d297ed5f7058a"
            ],
            [
                "a79d19fe2b56d92b"
            ]
        ]
    },
    {
        "id": "330432693b613052",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Format Time",
        "func": "function SecondsToTime(e) {\n    const h = Math.floor(e / 3600).toString().padStart(2, '0'),\n        m = Math.floor(e % 3600 / 60).toString().padStart(2, '0'),\n        s = Math.floor(e % 60).toString().padStart(2, '0');\n\n    return h + ':' + m + ':' + s;\n    //return `${h}:${m}:${s}`;\n}\n\nmsg.payload = SecondsToTime(msg.payload) \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 420,
        "wires": [
            [
                "f94c69e2ea6f6312"
            ]
        ]
    },
    {
        "id": "86fefa7fc2353a46",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Start Rest",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('mashSteps')[$flowContext('currentStep')].stepTime * 60",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "60680b1feccec91d"
            ]
        ]
    },
    {
        "id": "a79d19fe2b56d92b",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "$globalContext('mashSteps')[$flowContext('currentStep')].displayStepTemp & $string('\\u00B0') & $string('F')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "330432693b613052"
            ]
        ]
    },
    {
        "id": "c220a1ee212534aa",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set First Step",
        "rules": [
            {
                "t": "set",
                "p": "currentStep",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "6fab44e199a1a454"
            ]
        ]
    },
    {
        "id": "1c7e93f57bc48c08",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Next Step",
        "rules": [
            {
                "t": "set",
                "p": "currentStep",
                "pt": "flow",
                "to": "$flowContext('currentStep') + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 520,
        "wires": [
            [
                "6fab44e199a1a454"
            ]
        ]
    },
    {
        "id": "0fcd2cc5beac11cd",
        "type": "switch",
        "z": "6e9efb6131d41da6",
        "name": "Complete?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "1c7e93f57bc48c08"
            ]
        ]
    },
    {
        "id": "f94c69e2ea6f6312",
        "type": "switch",
        "z": "6e9efb6131d41da6",
        "name": "",
        "property": "$flowContext('currentStep')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1490,
        "y": 420,
        "wires": [
            [
                "0c5cc4e9ec7c641b"
            ],
            [
                "aa69d2ee7ee52a48"
            ],
            [
                "1fd389d5d6929045"
            ],
            [
                "a0614cb5a961f189"
            ],
            [
                "8fb51eadf4dd2c17"
            ],
            [
                "55153df08b22d0d7"
            ]
        ]
    },
    {
        "id": "6fab44e199a1a454",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set HLT Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('mashSteps')[$flowContext('currentStep')].displayStepTemp + 8",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "threshold",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "53d3514e2fbfbcaf",
                "358ab83e0f3de3a4",
                "b479ed361930833d"
            ]
        ]
    },
    {
        "id": "c027e73d557e39ca",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MashTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "358ab83e0f3de3a4",
        "type": "switch",
        "z": "6e9efb6131d41da6",
        "name": "MashAtTemp?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$globalContext('mashTemp') >= $globalContext('mashSteps')[$flowContext('currentStep')].displayStepTemp",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 420,
        "wires": [
            [
                "86fefa7fc2353a46"
            ],
            [
                "234d73f2fd0b26e8"
            ]
        ]
    },
    {
        "id": "03d3e267f836aba5",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "53d3514e2fbfbcaf",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 14",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "14",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 260,
        "wires": [
            [
                "03d3e267f836aba5"
            ]
        ]
    },
    {
        "id": "234d73f2fd0b26e8",
        "type": "delay",
        "z": "6e9efb6131d41da6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 360,
        "wires": [
            [
                "358ab83e0f3de3a4"
            ]
        ]
    },
    {
        "id": "759d297ed5f7058a",
        "type": "switch",
        "z": "6e9efb6131d41da6",
        "name": "Bump Temp?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$globalContext('mashTemp') >= $globalContext('mashSteps')[$flowContext('currentStep')].displayStepTemp - 2",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "baa668553b7bedce"
            ],
            [
                "53d3514e2fbfbcaf"
            ]
        ]
    },
    {
        "id": "baa668553b7bedce",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "03d3e267f836aba5"
            ]
        ]
    },
    {
        "id": "9d1410b472479935",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Step Mash",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "control",
        "topicType": "str",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "c220a1ee212534aa"
            ]
        ]
    },
    {
        "id": "f7ad94f47bb7589f",
        "type": "ui_gauge",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "b0de2545b3a50e50",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "50",
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "e2f4593ff28326dc",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "f7ad94f47bb7589f",
                "7e40dccf82c74168"
            ]
        ]
    },
    {
        "id": "92ecdb793f734ec0",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "b0de2545b3a50e50",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Heat to Strike",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "strikeTemp",
        "payloadType": "global",
        "topic": "threshold",
        "topicType": "str",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "06ed064e68b14079",
                "b479ed361930833d"
            ]
        ]
    },
    {
        "id": "7e40dccf82c74168",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "current",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "b479ed361930833d"
            ]
        ]
    },
    {
        "id": "cef617648b7c4022",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "b0de2545b3a50e50",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Hysteresis Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "threshold",
        "topicType": "str",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "06ed064e68b14079",
                "b479ed361930833d"
            ]
        ]
    },
    {
        "id": "06ed064e68b14079",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "b0de2545b3a50e50",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "b479ed361930833d",
        "type": "hysteresis",
        "z": "6e9efb6131d41da6",
        "name": "HLT Hysteresis",
        "ThresholdType": "dynamic",
        "ThresholdRising": "0",
        "ThresholdFalling": "0",
        "TopicThreshold": "threshold",
        "TopicCurrent": "current",
        "ThresholdDeltaRising": "1",
        "ThresholdDeltaFalling": "1",
        "InitialMessage": true,
        "OutRisingType": "num",
        "OutRisingValue": "0",
        "OutFallingType": "num",
        "OutFallingValue": "100",
        "OutTopicType": "top",
        "OutTopicValue": "",
        "DynRaiseError": false,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "cdf9583a0929b9c7"
            ]
        ]
    },
    {
        "id": "941e65461015a86f",
        "type": "timeprop",
        "z": "6e9efb6131d41da6",
        "name": "Duty Cycle",
        "cycleTime": "10",
        "deadTime": 0,
        "triggerPeriod": "0.1",
        "invert": false,
        "x": 770,
        "y": 100,
        "wires": [
            [
                "3d24d218767a8381"
            ]
        ]
    },
    {
        "id": "3b3232673c592eba",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Calc Duty Cycle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload) / 100.0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 160,
        "wires": [
            [
                "941e65461015a86f"
            ]
        ]
    },
    {
        "id": "8adb070768ce6259",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Element",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "3d24d218767a8381",
        "type": "rbe",
        "z": "6e9efb6131d41da6",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 890,
        "y": 160,
        "wires": [
            [
                "8adb070768ce6259"
            ]
        ]
    },
    {
        "id": "00b99549a9963ce3",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "85ec42cd73660eb6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sparge",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "reset",
        "topicType": "str",
        "x": 80,
        "y": 1540,
        "wires": [
            [
                "36b0f58b45a3e60c",
                "58b4541d4168f67e",
                "e97a67ea862f0281",
                "ca2ec71e33814595"
            ]
        ]
    },
    {
        "id": "54b19f48686b255b",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 960,
        "y": 1480,
        "wires": []
    },
    {
        "id": "58b4541d4168f67e",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1480,
        "wires": [
            [
                "54b19f48686b255b"
            ]
        ]
    },
    {
        "id": "76ddb66b0e63bdf9",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1540,
        "wires": [
            [
                "bb0bee36e59e433b",
                "54b19f48686b255b"
            ]
        ]
    },
    {
        "id": "36b0f58b45a3e60c",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1600,
        "wires": [
            [
                "bb0bee36e59e433b"
            ]
        ]
    },
    {
        "id": "ca2ec71e33814595",
        "type": "switch",
        "z": "6e9efb6131d41da6",
        "name": "Hit Boil Volume?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$flowContext('spargeVol') < $globalContext('boilVolume')",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "ba08ba382f443116"
            ],
            [
                "76ddb66b0e63bdf9"
            ]
        ]
    },
    {
        "id": "ba08ba382f443116",
        "type": "delay",
        "z": "6e9efb6131d41da6",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 1420,
        "wires": [
            [
                "ca2ec71e33814595"
            ]
        ]
    },
    {
        "id": "94e2d02147c9eb67",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "85ec42cd73660eb6",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Boil",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1220,
        "wires": [
            [
                "cf1540a2eb2c21b7",
                "e008fad296a87ae2",
                "ac3abf4e9a08d663"
            ]
        ]
    },
    {
        "id": "cf1540a2eb2c21b7",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 100",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 1160,
        "wires": [
            [
                "a9be54be6907c1e8"
            ]
        ]
    },
    {
        "id": "e008fad296a87ae2",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 20",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 1280,
        "wires": [
            [
                "f2e72e5c86abb265"
            ]
        ]
    },
    {
        "id": "ac3abf4e9a08d663",
        "type": "switch",
        "z": "6e9efb6131d41da6",
        "name": "At 200F?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$flowContext('kettleTemp') < 200",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1220,
        "wires": [
            [
                "0f9d2cf498dddc47"
            ],
            [
                "3e70f44b1a1a7d15",
                "085e76f6a82eadb5"
            ]
        ]
    },
    {
        "id": "652ec4711656b4b8",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kettleTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "0f9d2cf498dddc47",
        "type": "delay",
        "z": "6e9efb6131d41da6",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "ac3abf4e9a08d663"
            ]
        ]
    },
    {
        "id": "3e70f44b1a1a7d15",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 63",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "63",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1160,
        "wires": [
            [
                "9f2c9895b8464af6",
                "a9be54be6907c1e8"
            ]
        ]
    },
    {
        "id": "085e76f6a82eadb5",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1260,
        "wires": [
            [
                "f2e72e5c86abb265"
            ]
        ]
    },
    {
        "id": "51c69f2ca588178c",
        "type": "countdown",
        "z": "6e9efb6131d41da6",
        "name": "Boil Clock",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": 30,
        "resetWhileRunning": true,
        "outputOnReset": false,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 1060,
        "y": 1160,
        "wires": [
            [
                "f18ecec0d34ad027"
            ],
            [
                "6f95409843b515db"
            ]
        ]
    },
    {
        "id": "f18ecec0d34ad027",
        "type": "switch",
        "z": "6e9efb6131d41da6",
        "name": "Complete?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1250,
        "y": 1120,
        "wires": [
            [
                "a86534c7d77f7a92"
            ]
        ]
    },
    {
        "id": "a86534c7d77f7a92",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 1120,
        "wires": [
            [
                "4ecafa0b8769f8f9",
                "a9be54be6907c1e8"
            ]
        ]
    },
    {
        "id": "9f2c9895b8464af6",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Boil",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('boilTime')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1160,
        "wires": [
            [
                "51c69f2ca588178c"
            ]
        ]
    },
    {
        "id": "e2cb5b9de989cdca",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "85ec42cd73660eb6",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Boil Clock",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 1200,
        "wires": []
    },
    {
        "id": "6f95409843b515db",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Format Time",
        "func": "function SecondsToTime(e) {\n    const h = Math.floor(e / 3600).toString().padStart(2, '0'),\n        m = Math.floor(e % 3600 / 60).toString().padStart(2, '0'),\n        s = Math.floor(e % 60).toString().padStart(2, '0');\n\n    return h + ':' + m + ':' + s;\n    //return `${h}:${m}:${s}`;\n}\n\nmsg.payload = SecondsToTime(msg.payload) \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1200,
        "wires": [
            [
                "e2cb5b9de989cdca"
            ]
        ]
    },
    {
        "id": "82da208ec6aa6864",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Get Boil Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.recipe.equipment.boilTime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1040,
        "wires": [
            [
                "6f95409843b515db"
            ]
        ]
    },
    {
        "id": "df409c4a21ee2b42",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "045b99aa08e9a93b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flow Rate (gpm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "11cbd205a91c50a6",
        "type": "ui_text",
        "z": "6e9efb6131d41da6",
        "group": "045b99aa08e9a93b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Transfer Volume (g)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "3159a16000656153",
        "type": "ui_button",
        "z": "6e9efb6131d41da6",
        "name": "",
        "group": "045b99aa08e9a93b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mash In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "reset",
        "topicType": "str",
        "x": 80,
        "y": 740,
        "wires": [
            [
                "ba71fc262d0d7f68",
                "7613baa7bf3d291f"
            ]
        ]
    },
    {
        "id": "7c3506d1298f610e",
        "type": "mqtt in",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Flow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 600,
        "wires": [
            [
                "7613baa7bf3d291f",
                "556253859f88b22f"
            ]
        ]
    },
    {
        "id": "e2093e5bc37b9084",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 640,
        "y": 780,
        "wires": []
    },
    {
        "id": "ba71fc262d0d7f68",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Set Power 127",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "127",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 740,
        "wires": [
            [
                "e2093e5bc37b9084"
            ]
        ]
    },
    {
        "id": "7613baa7bf3d291f",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Totalizer",
        "func": "if( msg.topic == \"reset\" ) {\n    context.set(\"Totalizer\", 0);\n}\nelse {\n    var oldTotal = context.get(\"Totalizer\");\n    var total = oldTotal + msg.payload;\n    context.set(\"Totalizer\", total);\n}\n\nmsg.payload = total;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Totalizer\", 0);",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 600,
        "wires": [
            [
                "11ef77f475f6f7a7"
            ]
        ]
    },
    {
        "id": "11ef77f475f6f7a7",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Total",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round( payload * 0.00021, 2 )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 600,
        "wires": [
            [
                "11cbd205a91c50a6",
                "727bdb47c32b3bd8"
            ]
        ]
    },
    {
        "id": "556253859f88b22f",
        "type": "change",
        "z": "6e9efb6131d41da6",
        "name": "Rate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round( payload * 0.0126, 2 )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "df409c4a21ee2b42"
            ]
        ]
    },
    {
        "id": "727bdb47c32b3bd8",
        "type": "function",
        "z": "6e9efb6131d41da6",
        "name": "Pump Off",
        "func": "let strikeVolume = global.get(\"strikeVolume\");\nlet mashingIn = context.get(\"mashingIn\");\n\nif (mashingIn && msg.payload >= strikeVolume ) {\n    msg.payload = 0;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"mashingIn\", false);",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 720,
        "wires": [
            [
                "e2093e5bc37b9084"
            ]
        ]
    },
    {
        "id": "cdf9583a0929b9c7",
        "type": "ui_text_input",
        "z": "6e9efb6131d41da6",
        "name": "HLT Element Power",
        "label": "Element Power %",
        "tooltip": "",
        "group": "b0de2545b3a50e50",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "3b3232673c592eba"
            ]
        ]
    },
    {
        "id": "a9be54be6907c1e8",
        "type": "ui_text_input",
        "z": "6e9efb6131d41da6",
        "name": "Kettle Element Power",
        "label": "Element Power %",
        "tooltip": "",
        "group": "85ec42cd73660eb6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1340,
        "y": 1280,
        "wires": [
            [
                "4ecafa0b8769f8f9"
            ]
        ]
    },
    {
        "id": "141642e78ee91b70",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Whirlpool-Pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1460,
        "y": 240,
        "wires": []
    },
    {
        "id": "a2ceee5832c30397",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/HLT-Pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1440,
        "y": 120,
        "wires": []
    },
    {
        "id": "5258404edbe36914",
        "type": "mqtt out",
        "z": "6e9efb6131d41da6",
        "name": "",
        "topic": "BSB/Sparge-Pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1450,
        "y": 180,
        "wires": []
    },
    {
        "id": "bc75f7d9b7f6c1ed",
        "type": "ui_text_input",
        "z": "6e9efb6131d41da6",
        "name": "",
        "label": "HLT/Mash",
        "tooltip": "",
        "group": "aabfd8d95f5321e0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1250,
        "y": 120,
        "wires": [
            [
                "a2ceee5832c30397"
            ]
        ]
    },
    {
        "id": "b88e0e6952cebb56",
        "type": "ui_text_input",
        "z": "6e9efb6131d41da6",
        "name": "",
        "label": "Sparge",
        "tooltip": "",
        "group": "aabfd8d95f5321e0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1240,
        "y": 180,
        "wires": [
            [
                "5258404edbe36914"
            ]
        ]
    },
    {
        "id": "61d6ad9470f47120",
        "type": "ui_text_input",
        "z": "6e9efb6131d41da6",
        "name": "",
        "label": "Whirlpool",
        "tooltip": "",
        "group": "aabfd8d95f5321e0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "141642e78ee91b70"
            ]
        ]
    },
    {
        "id": "473913c415525a73",
        "type": "ui_gauge",
        "z": "2368879745bedfe8",
        "name": "",
        "group": "f6f4b5041b80b6fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "32",
        "max": "100",
        "colors": [
            "#005cb3",
            "#4bce00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "067a06691d625bd7",
        "type": "ui_text_input",
        "z": "2368879745bedfe8",
        "name": "",
        "label": "Temp Ceil",
        "tooltip": "",
        "group": "f6f4b5041b80b6fd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Ceil",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "859f59109e8ec8f8"
            ]
        ]
    },
    {
        "id": "db16ddfc8655f377",
        "type": "ui_text_input",
        "z": "2368879745bedfe8",
        "name": "",
        "label": "Temp Floor",
        "tooltip": "",
        "group": "f6f4b5041b80b6fd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Floor",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "859f59109e8ec8f8"
            ]
        ]
    },
    {
        "id": "859f59109e8ec8f8",
        "type": "function",
        "z": "2368879745bedfe8",
        "name": "Range Controller",
        "func": "var ceil = context.get(\"Ceil\");\nvar floor = context.get(\"Floor\");\nvar temp = context.get(\"Temp\");\nvar enabled = context.get(\"Enabled\");\n\nvar heating = { \"payload\": 0 };\nvar cooling = { \"payload\": 0 };\n\nif( msg.topic == 'Ceil' ) {\n    ceil = msg.payload;\n    context.set(\"Ceil\", ceil);\n}\nelse if (msg.topic == 'Floor') {\n    floor = msg.payload;\n    context.set(\"Floor\", floor);\n}\nelse if( msg.topic == 'Enabled') {\n    enabled = msg.payload;\n    context.set(\"Enabled\", enabled); \n}\nelse {\n    temp = msg.payload;\n    context.set(\"Temp\", temp);\n}\n\nif( enabled ) {\n    if( temp < floor )\n        heating = { \"payload\": 1 };\n    else if( temp > floor + 0.5 )\n        heating = { \"payload\": 0 };\n\n    if( temp > ceil )\n        cooling = { \"payload\": 1 }\n    else if( temp < ceil - 0.5 )\n        cooling = { \"payload\": 0 }\n}\nelse {\n    heating = { \"payload\": 0 };\n    cooling = { \"payload\": 0 };   \n}\n\nreturn [heating, cooling];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Ceil\", 200);\ncontext.set(\"Floor\", -200);\ncontext.set(\"Temp\", 0);\ncontext.set(\"Enabled\", false);",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "17dab46c5d55d436",
                "cec6f390cd73c236"
            ],
            [
                "deb36e6d47b5dac0",
                "91087c41b1dad718"
            ]
        ]
    },
    {
        "id": "611c9bf2b5751feb",
        "type": "mqtt out",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Unitank-1-Heat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "05da9f1eecd0e948",
        "type": "mqtt out",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Unitank-1-Cool",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "17dab46c5d55d436",
        "type": "rbe",
        "z": "2368879745bedfe8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "611c9bf2b5751feb"
            ]
        ]
    },
    {
        "id": "deb36e6d47b5dac0",
        "type": "rbe",
        "z": "2368879745bedfe8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "05da9f1eecd0e948"
            ]
        ]
    },
    {
        "id": "9b2bacec8087e106",
        "type": "ui_gauge",
        "z": "2368879745bedfe8",
        "name": "",
        "group": "3ec6c6d21c68fabf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "F",
        "format": "{{value}}",
        "min": "32",
        "max": "100",
        "colors": [
            "#005cb3",
            "#4bce00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "db6615a2107c2d11",
        "type": "ui_text_input",
        "z": "2368879745bedfe8",
        "name": "",
        "label": "Temp Ceil",
        "tooltip": "",
        "group": "3ec6c6d21c68fabf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Ceil",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 280,
        "y": 600,
        "wires": [
            [
                "63d1d24be88e06a5"
            ]
        ]
    },
    {
        "id": "e2955a24a175f07f",
        "type": "ui_text_input",
        "z": "2368879745bedfe8",
        "name": "",
        "label": "Temp Floor",
        "tooltip": "",
        "group": "3ec6c6d21c68fabf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Floor",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "63d1d24be88e06a5"
            ]
        ]
    },
    {
        "id": "63d1d24be88e06a5",
        "type": "function",
        "z": "2368879745bedfe8",
        "name": "Range Controller",
        "func": "var ceil = context.get(\"Ceil\");\nvar floor = context.get(\"Floor\");\nvar temp = context.get(\"Temp\");\nvar enabled = context.get(\"Enabled\");\n\nvar heating = { \"payload\": 0 };\nvar cooling = { \"payload\": 0 };\n\nif (msg.topic == 'Ceil') {\n    ceil = msg.payload;\n    context.set(\"Ceil\", ceil);\n}\nelse if (msg.topic == 'Floor') {\n    floor = msg.payload;\n    context.set(\"Floor\", floor);\n}\nelse if (msg.topic == 'Enabled') {\n    enabled = msg.payload;\n    context.set(\"Enabled\", enabled);\n}\nelse {\n    temp = msg.payload;\n    context.set(\"Temp\", temp);\n}\n\nif (enabled) {\n    if (temp < floor)\n        heating = { \"payload\": 1 };\n    else if (temp > floor + 0.5)\n        heating = { \"payload\": 0 };\n\n    if (temp > ceil)\n        cooling = { \"payload\": 1 }\n    else if (temp < ceil - 0.5)\n        cooling = { \"payload\": 0 }\n}\nelse {\n    heating = { \"payload\": 0 };\n    cooling = { \"payload\": 0 };\n}\n\nreturn [heating, cooling];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Ceil\", 200);\ncontext.set(\"Floor\", -200);\ncontext.set(\"Temp\", 0);\ncontext.set(\"Enabled\", false);",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "8ee6e55a679bc1eb",
                "835e47ed865d5719"
            ],
            [
                "a6a750de62117f2f",
                "a21bea13e000e603"
            ]
        ]
    },
    {
        "id": "5d2442ea6475a56c",
        "type": "mqtt out",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Unitank-2-Heat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 900,
        "y": 600,
        "wires": []
    },
    {
        "id": "9fe89bfae62c930a",
        "type": "mqtt out",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Unitank-2-Cool",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 900,
        "y": 680,
        "wires": []
    },
    {
        "id": "8ee6e55a679bc1eb",
        "type": "rbe",
        "z": "2368879745bedfe8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 600,
        "wires": [
            [
                "5d2442ea6475a56c"
            ]
        ]
    },
    {
        "id": "a6a750de62117f2f",
        "type": "rbe",
        "z": "2368879745bedfe8",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 680,
        "wires": [
            [
                "9fe89bfae62c930a"
            ]
        ]
    },
    {
        "id": "cec6f390cd73c236",
        "type": "ui_led",
        "z": "2368879745bedfe8",
        "order": 5,
        "group": "f6f4b5041b80b6fd",
        "width": 0,
        "height": 0,
        "label": "Heating",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "91087c41b1dad718",
        "type": "ui_led",
        "z": "2368879745bedfe8",
        "order": 6,
        "group": "f6f4b5041b80b6fd",
        "width": 0,
        "height": 0,
        "label": "Cooling",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "a21bea13e000e603",
        "type": "ui_led",
        "z": "2368879745bedfe8",
        "order": 6,
        "group": "3ec6c6d21c68fabf",
        "width": 0,
        "height": 0,
        "label": "Cooling",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "835e47ed865d5719",
        "type": "ui_led",
        "z": "2368879745bedfe8",
        "order": 5,
        "group": "3ec6c6d21c68fabf",
        "width": 0,
        "height": 0,
        "label": "Heating",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "6e7162aab7e189fc",
        "type": "mqtt in",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Blue-Tilt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "35285928d44fc69b",
                "ab41f14a4eb1b5a3"
            ]
        ]
    },
    {
        "id": "3dbf13289cd0d578",
        "type": "mqtt in",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Purple-Tilt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 780,
        "wires": [
            [
                "a132df6db41e4db5",
                "f898e3293821fdb6"
            ]
        ]
    },
    {
        "id": "35285928d44fc69b",
        "type": "ui_text",
        "z": "2368879745bedfe8",
        "group": "f6f4b5041b80b6fd",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blue-Temp",
        "format": "{{msg.payload.Temp}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "ab41f14a4eb1b5a3",
        "type": "ui_text",
        "z": "2368879745bedfe8",
        "group": "f6f4b5041b80b6fd",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blue-Gravity",
        "format": "{{msg.payload.Grav}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "a132df6db41e4db5",
        "type": "ui_text",
        "z": "2368879745bedfe8",
        "group": "3ec6c6d21c68fabf",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Purple-Temp",
        "format": "{{msg.payload.Temp}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 760,
        "wires": []
    },
    {
        "id": "f898e3293821fdb6",
        "type": "ui_text",
        "z": "2368879745bedfe8",
        "group": "3ec6c6d21c68fabf",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Purple-Gravity",
        "format": "{{msg.payload.Grav}}",
        "layout": "row-spread",
        "className": "",
        "x": 360,
        "y": 800,
        "wires": []
    },
    {
        "id": "6b2b6325f2502496",
        "type": "mqtt in",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Unitank-1-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "473913c415525a73",
                "859f59109e8ec8f8",
                "5d5afffe64139d4b"
            ]
        ]
    },
    {
        "id": "e1e76ec3e6429efe",
        "type": "mqtt in",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Unitank-2-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 680,
        "wires": [
            [
                "9b2bacec8087e106",
                "63d1d24be88e06a5",
                "0db32d69bd9f4646"
            ]
        ]
    },
    {
        "id": "8dc19787cb4b39b7",
        "type": "ui_switch",
        "z": "2368879745bedfe8",
        "name": "",
        "label": "Enabled",
        "tooltip": "",
        "group": "f6f4b5041b80b6fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Enabled",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "859f59109e8ec8f8"
            ]
        ]
    },
    {
        "id": "2029e3cc584c7290",
        "type": "ui_switch",
        "z": "2368879745bedfe8",
        "name": "",
        "label": "Enabled",
        "tooltip": "",
        "group": "3ec6c6d21c68fabf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Enabled",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 540,
        "wires": [
            [
                "63d1d24be88e06a5"
            ]
        ]
    },
    {
        "id": "7acacd43cd2fe746",
        "type": "ui_button",
        "z": "2368879745bedfe8",
        "name": "",
        "group": "f6f4b5041b80b6fd",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calibrate DO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "cal",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "770f72ae7777e31d"
            ]
        ]
    },
    {
        "id": "770f72ae7777e31d",
        "type": "mqtt out",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Command-DO2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1140,
        "y": 340,
        "wires": []
    },
    {
        "id": "864c72ecbc0de3b3",
        "type": "ui_text",
        "z": "2368879745bedfe8",
        "group": "f6f4b5041b80b6fd",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dissolved O2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 400,
        "wires": []
    },
    {
        "id": "b5fe8bba60e8d12e",
        "type": "mqtt in",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/DO2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 400,
        "wires": [
            [
                "864c72ecbc0de3b3"
            ]
        ]
    },
    {
        "id": "bd55f24257a577c3",
        "type": "inject",
        "z": "2368879745bedfe8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Unitank-1-Temp",
        "payloadType": "flow",
        "x": 880,
        "y": 280,
        "wires": [
            [
                "9f33f708fc926008"
            ]
        ]
    },
    {
        "id": "5d5afffe64139d4b",
        "type": "change",
        "z": "2368879745bedfe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Unitank-1-Temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5d894eb52cbb199b",
        "type": "mqtt out",
        "z": "2368879745bedfe8",
        "name": "",
        "topic": "BSB/Command-DO2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 1260,
        "y": 280,
        "wires": []
    },
    {
        "id": "9f33f708fc926008",
        "type": "change",
        "z": "2368879745bedfe8",
        "name": "F to C",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$string(\"T,\") & $round((payload - 32) * 0.5556, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 280,
        "wires": [
            [
                "5d894eb52cbb199b"
            ]
        ]
    },
    {
        "id": "0db32d69bd9f4646",
        "type": "change",
        "z": "2368879745bedfe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Unitank-2-Temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "477a6942d4870529",
        "type": "mqtt in",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Register",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "2135046b301ea555"
            ]
        ]
    },
    {
        "id": "2135046b301ea555",
        "type": "switch",
        "z": "174d33dd188055cb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Hot Side",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cold Side",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pH Meter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DO2 Meter",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "100f531fcd8841be"
            ],
            [
                "e4318d557af535a3"
            ],
            [
                "a5e68e194ffec01b"
            ],
            [
                "0c884909cb08aaf1"
            ]
        ]
    },
    {
        "id": "a17506d480133cda",
        "type": "mqtt out",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Configure",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f63735ef39c7ebd8",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "100f531fcd8841be",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "Hot Side",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Hot Side\":[{\"Topic\":\"BSB/HLT-Pump\",\"GPIO\":4,\"Type\":\"PWM\"},{\"Topic\":\"BSB/Sparge-Pump\",\"GPIO\":2,\"Type\":\"PWM\"},{\"Topic\":\"BSB/Whirlpool-Pump\",\"GPIO\":12,\"Type\":\"PWM\"},{\"Topic\":\"BSB/HLT-Element\",\"GPIO\":26,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Kettle-Element\",\"GPIO\":25,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/HLT-Flow\",\"GPIO\":13,\"Type\":\"Counter\"},{\"Topic\":\"BSB/Kettle-Flow\",\"GPIO\":14,\"Type\":\"Counter\"},{\"Topic\":\"BSB/HLT-Temp\",\"Index\":0,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Mash-Temp\",\"Index\":1,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Kettle-Temp\",\"Index\":2,\"Type\":\"Onewire\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "e4318d557af535a3",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "Cold Side",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Cold Side\":[{\"Topic\":\"BSB/Unitank-1-Temp\",\"Index\":1,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Unitank-2-Temp\",\"Index\":0,\"Type\":\"Onewire\"},{\"Topic\":\"BSB/Unitank-1-Heat\",\"GPIO\":27,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Unitank-2-Heat\",\"GPIO\":15,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Unitank-1-Cool\",\"GPIO\":25,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Unitank-2-Cool\",\"GPIO\":14,\"Type\":\"Digital-Out\"},{\"Topic\":\"BSB/Blue-Tilt\",\"Index\":5,\"Type\":\"Tilt\"},{\"Topic\":\"BSB/Purple-Tilt\",\"Index\":3,\"Type\":\"Tilt\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "a5e68e194ffec01b",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "pH Meter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"pH Meter\":[{\"Type\":\"Atlas\",\"Rx\":26,\"Tx\":27,\"Topic\":\"BSB/Mash-pH\",\"Command\":\"BSB/Command-pH\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "0c884909cb08aaf1",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "DO2 Meter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"DO2 Meter\":[{\"Type\":\"Atlas\",\"Rx\":23,\"Tx\":22,\"Topic\":\"BSB/DO2\",\"Command\":\"BSB/Command-DO2\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "a17506d480133cda"
            ]
        ]
    },
    {
        "id": "c2d2e4d4091598bd",
        "type": "mqtt in",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Online",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 660,
        "wires": [
            [
                "6dd69b7a2d2bdbc7"
            ]
        ]
    },
    {
        "id": "c26a9ba3613731ac",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "bd1111ed5c06b60d",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 480,
        "wires": [
            [
                "c26a9ba3613731ac"
            ],
            []
        ]
    },
    {
        "id": "6dd69b7a2d2bdbc7",
        "type": "change",
        "z": "174d33dd188055cb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "81950c8fd2d2de6f"
            ]
        ]
    },
    {
        "id": "8044d6f98d0951dc",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "8cefda9dfdf40680"
            ],
            []
        ]
    },
    {
        "id": "e131c985a4e3c249",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 600,
        "wires": [
            [
                "c491b097efab1b3d"
            ],
            []
        ]
    },
    {
        "id": "95cf6c5166e12cc7",
        "type": "timer-node",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "",
        "timer": "5",
        "payloadOn": "Connected",
        "payloadOnType": "str",
        "payloadOff": "Disconnected",
        "payloadOffType": "str",
        "x": 750,
        "y": 660,
        "wires": [
            [
                "fbfd5e08c7557ded"
            ],
            []
        ]
    },
    {
        "id": "8cefda9dfdf40680",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "c491b097efab1b3d",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "fbfd5e08c7557ded",
        "type": "ui_text",
        "z": "174d33dd188055cb",
        "group": "bcb3e320136b061c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "d4665205c128173f",
        "type": "mqtt in",
        "z": "174d33dd188055cb",
        "name": "",
        "topic": "BSB/Console",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f63735ef39c7ebd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "17a42320e2231f9d"
            ]
        ]
    },
    {
        "id": "17a42320e2231f9d",
        "type": "debug",
        "z": "174d33dd188055cb",
        "name": "BSB Console",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "81950c8fd2d2de6f",
        "type": "switch",
        "z": "174d33dd188055cb",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Hot Side",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cold Side",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pH Meter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DO2 Meter",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "bd1111ed5c06b60d"
            ],
            [
                "8044d6f98d0951dc"
            ],
            [
                "e131c985a4e3c249"
            ],
            [
                "95cf6c5166e12cc7"
            ]
        ]
    },
    {
        "id": "671ab5e5e2842853",
        "type": "inject",
        "z": "174d33dd188055cb",
        "name": "Push Config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "0c884909cb08aaf1"
            ]
        ]
    }
]